.gm-style-iw-chr {
  display: none !important;
}

.gm-style-iw.gm-style-iw-c {
  max-height: inherit !important;
}

.gm-style-iw-t,
.gm-style-iw-d {
  height: inherit !important;
  max-height: inherit !important;
}

.google-map-infowindow {
  padding-top: 12px;
}
.google-map-infowindow .infowindow-title {
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
}
.google-map-infowindow .infowindow-media {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.google-map-infowindow .infowindow-media .img-media {
  width: 240px;
  height: 120px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.google-map-infowindow .infowindow-rating {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 8px;
}
.google-map-infowindow .infowindow-rating .infowindow-rating-sum,
.google-map-infowindow .infowindow-rating .infowindow-rating-ulasan {
  font-size: 12px;
  color: #343a40;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.google-map-infowindow .infowindow-rating .infowindow-rating-icon {
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 8px;
}
.google-map-infowindow .infowindow-rating .infowindow-rating-icon .material-icons-outlined {
  font-size: 16px;
}
.twitter-typeahead.twitter-typeahead-address-search {
  width: 100%;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-hint {
  color: #dedede;
}
.twitter-typeahead.twitter-typeahead-address-search pre[aria-hidden=true] {
  width: 100%;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu {
  background: #ffffff;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 14px rgba(0, 0, 0, 0.12));
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 8px 8px;
  border-bottom: 1px solid #d5d5d5;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-prepend,
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-append {
  display: flex;
  align-items: center;
  align-content: center;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-prepend .material-icons-outlined,
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-append .material-icons-outlined {
  font-size: 18px;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-append {
  margin-right: 8px;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-body {
  flex: auto;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-body .item-body-title {
  font-size: 0.9em;
  font-weight: 700;
  color: #000;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion .item-body .item-body-desc {
  font-size: 0.8em;
  color: tint-color(#000, 20%);
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .tt-suggestion.tt-selectable.tt-cursor {
  background: #dedede;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .item-footer {
  background-color: #ffeecc;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.twitter-typeahead.twitter-typeahead-address-search .tt-menu .tt-dataset.tt-dataset-address-search .item-footer .item-footer-text {
  padding: 8px;
  font-size: 0.8em;
  color: #926200;
}

.address-search-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  z-index: 1071;
  background-color: #000;
}
.address-search-backdrop.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.address-search-backdrop.show {
  opacity: 0.5;
}

.twitter-typeahead.twitter-typeahead-place {
  width: 100%;
}
.twitter-typeahead.twitter-typeahead-place .tt-hint {
  color: #dedede;
}
.twitter-typeahead.twitter-typeahead-place pre[aria-hidden=true] {
  width: 100%;
}
.twitter-typeahead.twitter-typeahead-place .twitter-typeahead-clear {
  position: absolute;
  font-weight: bold;
  z-index: 2000;
  right: 18px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.twitter-typeahead.twitter-typeahead-place .tt-menu {
  background: #ffffff;
  width: 200%;
  left: -32px !important;
  position: absolute;
  z-index: 2000 !important;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
@media (min-width: 0) and (max-width: 576px) {
  .twitter-typeahead.twitter-typeahead-place .tt-menu {
    width: 135%;
    left: -60px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .twitter-typeahead.twitter-typeahead-place .tt-menu {
    width: 100%;
  }
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 8px 8px;
  border-bottom: 1px solid #d5d5d5;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-prepend,
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-append {
  display: flex;
  align-items: center;
  align-content: center;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-prepend .material-icons-outlined,
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-append .material-icons-outlined {
  font-size: 18px;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-append {
  margin-right: 8px;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-body {
  flex: auto;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-body .item-body-title {
  font-size: 0.9em;
  font-weight: 700;
  color: #000;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion .item-body .item-body-desc {
  font-size: 0.8em;
  color: tint-color(#000, 20%);
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .tt-suggestion.tt-selectable.tt-cursor {
  background: #dedede;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .item-footer {
  background-color: #ffeecc;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.twitter-typeahead.twitter-typeahead-place .tt-menu .tt-dataset.tt-dataset-place-address .item-footer .item-footer-text {
  padding: 8px;
  font-size: 0.8em;
  color: #926200;
}

.typeahead-place-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  z-index: 1071;
  background-color: #000;
}
.typeahead-place-backdrop.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.typeahead-place-backdrop.show {
  opacity: 0.5;
}
@keyframes rotation {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.container-infinite-scroll {
  overflow: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container-infinite-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.infinite-load-status {
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 3000;
  width: 100%;
}
.infinite-load-status .infinite-loader-spinner {
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 3000;
  width: 100%;
}
.infinite-load-status .infinite-loader-spinner .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.infinite-load-status .infinite-loader-spinner .spinner-container .spinner-center {
  width: 48px;
  height: 48px;
  border: 5px solid #ffc107;
  border-bottom-color: #dc3545;
  background: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 4000;
  background-color: #fff;
}

.backdrop-infinite-scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.backdrop-infinite-scroll.fade {
  opacity: 0;
}
.backdrop-infinite-scroll.show {
  opacity: 0.5;
}

.client-kami-owl-carousel {
  position: relative;
  display: flex;
}
.client-kami-owl-carousel .owl-stage-outer {
  margin-bottom: 0;
}
.client-kami-owl-carousel .owl-nav-client-kami.disabled {
  display: none;
  visibility: hidden;
}
.client-kami-owl-carousel .owl-nav-client-kami .owl-prev,
.client-kami-owl-carousel .owl-nav-client-kami .owl-next {
  position: absolute;
  outline: none;
  background: transparent;
  border: 0;
  margin: 0 auto;
  background: #ffffff;
  top: calc(50% - 20px);
  -ms-transform: translateY(calc(-50% - 8px));
  -webkit-transform: translateY(calc(-50% - 8px));
  transform: translateY(calc(-50% - 8px));
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.client-kami-owl-carousel .owl-nav-client-kami .owl-prev:hover,
.client-kami-owl-carousel .owl-nav-client-kami .owl-next:hover {
  background: #ffa633;
}
.client-kami-owl-carousel .owl-nav-client-kami .owl-prev {
  left: 0;
}
.client-kami-owl-carousel .owl-nav-client-kami .owl-next {
  right: 0;
}
.client-kami-owl-carousel .owl-dots-client-kami {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.client-kami-owl-carousel .owl-dots-client-kami .owl-dot span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 4px;
  background: #ffa633;
  display: block;
  -webkit-transition: background 1000ms linear;
  -moz-transition: background 1000ms linear;
  -o-transition: background 1000ms linear;
  transition: background 1000ms linear;
  margin-left: 12px;
}
.client-kami-owl-carousel .owl-dots-client-kami .owl-dot.active span {
  background: #cc0000;
  border: 2px solid #ffa633;
}

.owl-theme-testimoni {
  position: relative;
  display: flex;
  flex-direction: column;
}
.owl-theme-testimoni .owl-stage-outer {
  margin-bottom: 0;
}
.owl-theme-testimoni .owl-nav-testimoni .owl-prev,
.owl-theme-testimoni .owl-nav-testimoni .owl-next {
  position: absolute;
  outline: none;
  background: transparent;
  border: 0;
  margin: 0 auto;
  background: #ffffff;
  top: calc(50% - 8px);
  -ms-transform: translateY(calc(-50% - 8px));
  -webkit-transform: translateY(calc(-50% - 8px));
  transform: translateY(calc(-50% - 8px));
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.owl-theme-testimoni .owl-nav-testimoni .owl-prev:hover,
.owl-theme-testimoni .owl-nav-testimoni .owl-next:hover {
  background: #ffa633;
}
.owl-theme-testimoni .owl-nav-testimoni .owl-prev {
  left: 0;
}
.owl-theme-testimoni .owl-nav-testimoni .owl-next {
  right: 0;
}
.owl-theme-testimoni .owl-dots-testimoni {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.owl-theme-testimoni .owl-dots-testimoni .owl-dot span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 4px;
  background: #ffa633;
  display: block;
  -webkit-transition: background 1000ms linear;
  -moz-transition: background 1000ms linear;
  -o-transition: background 1000ms linear;
  transition: background 1000ms linear;
}
.owl-theme-testimoni .owl-dots-testimoni .owl-dot.active span {
  background: #cc0000;
  border: 2px solid #ffa633;
}

.destinasi-travel-owl-carousel {
  position: relative;
  display: flex;
}
.destinasi-travel-owl-carousel .owl-stage-outer {
  margin-bottom: 0;
}
.destinasi-travel-owl-carousel .owl-nav-destinasi-travel.disabled {
  display: none;
  visibility: hidden;
}
.destinasi-travel-owl-carousel .owl-nav-destinasi-travel .owl-prev,
.destinasi-travel-owl-carousel .owl-nav-destinasi-travel .owl-next {
  position: absolute;
  outline: none;
  background: transparent;
  border: 0;
  margin: 0 auto;
  top: calc(50% - 8px);
}
.destinasi-travel-owl-carousel .owl-nav-destinasi-travel .owl-prev .material-icons-outlined,
.destinasi-travel-owl-carousel .owl-nav-destinasi-travel .owl-next .material-icons-outlined {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.destinasi-travel-owl-carousel .owl-nav-destinasi-travel .owl-prev {
  left: 0;
}
.destinasi-travel-owl-carousel .owl-nav-destinasi-travel .owl-next {
  right: 0;
}
.destinasi-travel-owl-carousel .owl-dots-destinasi-travel {
  position: absolute;
  bottom: 8px;
  z-index: 1500;
  left: 50%;
  width: 100%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.destinasi-travel-owl-carousel .owl-dots-destinasi-travel .owl-dot span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 4px;
  background: #ffa633;
  display: block;
  -webkit-transition: background 1000ms linear;
  -moz-transition: background 1000ms linear;
  -o-transition: background 1000ms linear;
  transition: background 1000ms linear;
}
.destinasi-travel-owl-carousel .owl-dots-destinasi-travel .owl-dot.active span {
  background: #cc0000;
  border: 2px solid #ffa633;
}

.hero-slider-owl-carousel {
  position: relative;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.hero-slider-owl-carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.hero-slider-owl-carousel .owl-stage-outer {
  margin-bottom: 0;
}
.hero-slider-owl-carousel .owl-nav-hero-slider.disabled {
  display: none;
  visibility: hidden;
}
.hero-slider-owl-carousel .owl-nav-hero-slider .owl-prev,
.hero-slider-owl-carousel .owl-nav-hero-slider .owl-next {
  position: absolute;
  outline: none;
  background: transparent;
  border: 0;
  margin: 0 auto;
  bottom: 0;
}
.hero-slider-owl-carousel .owl-nav-hero-slider .owl-prev .material-icons-outlined,
.hero-slider-owl-carousel .owl-nav-hero-slider .owl-next .material-icons-outlined {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.hero-slider-owl-carousel .owl-nav-hero-slider .owl-prev {
  left: calc(100% / 4);
}
@media (min-width: 0) and (max-width: 576px) {
  .hero-slider-owl-carousel .owl-nav-hero-slider .owl-prev {
    left: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .hero-slider-owl-carousel .owl-nav-hero-slider .owl-prev {
    left: 20px;
  }
}
.hero-slider-owl-carousel .owl-nav-hero-slider .owl-next {
  right: calc(100% / 4);
}
@media (min-width: 0) and (max-width: 576px) {
  .hero-slider-owl-carousel .owl-nav-hero-slider .owl-next {
    right: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .hero-slider-owl-carousel .owl-nav-hero-slider .owl-next {
    right: 20px;
  }
}
.hero-slider-owl-carousel .owl-dots-hero-slider {
  position: absolute;
  bottom: 8px;
  z-index: 1500;
  left: 50%;
  width: 100%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-slider-owl-carousel .owl-dots-hero-slider .owl-dot span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 4px;
  background: #ffa633;
  display: block;
  -webkit-transition: background 1000ms linear;
  -moz-transition: background 1000ms linear;
  -o-transition: background 1000ms linear;
  transition: background 1000ms linear;
}
.hero-slider-owl-carousel .owl-dots-hero-slider .owl-dot.active span {
  background: #cc0000;
  border: 2px solid #ffa633;
}

.review-customer-owl-carousel {
  position: relative;
  display: flex;
}
.review-customer-owl-carousel .owl-stage-outer {
  margin-bottom: 0;
}
.review-customer-owl-carousel .owl-nav-review-customer .owl-prev,
.review-customer-owl-carousel .owl-nav-review-customer .owl-next {
  position: absolute;
  outline: none;
  background: transparent;
  border: 0;
  margin: 0 auto;
  background: #ffffff;
  top: calc(50% - 8px);
  -ms-transform: translateY(calc(-50% - 8px));
  -webkit-transform: translateY(calc(-50% - 8px));
  transform: translateY(calc(-50% - 8px));
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.review-customer-owl-carousel .owl-nav-review-customer .owl-prev:hover,
.review-customer-owl-carousel .owl-nav-review-customer .owl-next:hover {
  background: #ffa633;
}
.review-customer-owl-carousel .owl-nav-review-customer .owl-prev {
  left: 0;
}
.review-customer-owl-carousel .owl-nav-review-customer .owl-next {
  right: 0;
}
.review-customer-owl-carousel .owl-dots-review-customer {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}
.review-customer-owl-carousel .owl-dots-review-customer .owl-dot span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 4px;
  background: #ffa633;
  display: block;
  -webkit-transition: background 1000ms linear;
  -moz-transition: background 1000ms linear;
  -o-transition: background 1000ms linear;
  transition: background 1000ms linear;
}
.review-customer-owl-carousel .owl-dots-review-customer .owl-dot.active span {
  background: #cc0000;
  border: 2px solid #ffa633;
}

.container-date-time-picker {
  position: absolute;
  z-index: 1000;
}

.backdrop-date-time-picker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  opacity: 0.6;
}

.tempus-dominus-widget.bootstrap {
  width: 350px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 14px rgba(0, 0, 0, 0.12));
  border-radius: 8px;
  border: 0;
  padding-top: 0;
}
.tempus-dominus-widget.bootstrap .date-container .calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 12px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.tempus-dominus-widget.bootstrap .date-container .calendar-header [data-action] {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tempus-dominus-widget.bootstrap .date-container .calendar-header .material-icons,
.tempus-dominus-widget.bootstrap .date-container .calendar-header .material-icons-outlined {
  font-size: 32px;
  color: #000000;
}
.tempus-dominus-widget.bootstrap .date-container .calendar-header .picker-switch {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.tempus-dominus-widget.bootstrap .date-container .date-container-days {
  grid-auto-rows: 48px;
}
.tempus-dominus-widget.bootstrap .date-container .date-container-days .dow.no-highlight {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  margin-bottom: 8px;
  border-bottom: 1px solid #c2c2c2;
}
.tempus-dominus-widget.bootstrap .date-container .date-container-days .dow.no-highlight:first-child {
  color: #ff3d00;
}
.tempus-dominus-widget.bootstrap .date-container .date-container-days .day.weekend:not(.active) {
  color: #ff3d00;
}
.tempus-dominus-widget.bootstrap .date-container .date-container-days .day {
  width: 40px;
  height: 40px;
  font-family: "Roboto Medium";
  color: #000000;
  font-size: 1em;
}
.tempus-dominus-widget.bootstrap .date-container .date-container-days .day.active {
  background-color: #cc0000;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.tempus-dominus-widget.bootstrap [tabindex="-1"] {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none !important;
  /* iOS Safari */
  -webkit-user-select: none !important;
  /* Safari */
  -khtml-user-select: none !important;
  /* Konqueror HTML */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.tempus-dominus-widget.bootstrap [tabindex="-1"]::selection {
  background: transparent;
}
.tempus-dominus-widget.bootstrap [tabindex="-1"]::-moz-selection {
  background: transparent;
}
.tempus-dominus-widget.bootstrap [tabindex="-1"], .tempus-dominus-widget.bootstrap [tabindex="-1"]:hover, .tempus-dominus-widget.bootstrap [tabindex="-1"]:focus {
  box-shadow: none !important;
  outline: none !important;
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock {
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none !important;
  /* iOS Safari */
  -webkit-user-select: none !important;
  /* Safari */
  -khtml-user-select: none !important;
  /* Konqueror HTML */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock::selection {
  background: transparent;
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock::-moz-selection {
  background: transparent;
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementMinutes] .material-icons,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementMinutes] .material-icons-outlined,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementHours] .material-icons,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementHours] .material-icons-outlined,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementHours] .material-icons,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementHours] .material-icons-outlined,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementMinutes] .material-icons,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementMinutes] .material-icons-outlined {
  font-size: 32px;
  font-weight: 700;
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementMinutes]:hover, .tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementMinutes]:focus,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementHours]:hover,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=incrementHours]:focus,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementHours]:hover,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementHours]:focus,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementMinutes]:hover,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementMinutes]:focus {
  background: #cc0000;
  color: #ffffff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=showHours],
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=showMinutes] {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=showHours],
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementHours],
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=showMinutes] {
  font-size: 1.3em;
  color: #000;
  font-weight: 700;
  width: 40px;
  height: 40px;
}
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=showHours]:hover,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=decrementHours]:hover,
.tempus-dominus-widget.bootstrap .time-container .time-container-clock [data-action=showMinutes]:hover {
  background: #cc0000;
  color: #ffffff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.tempus-dominus-widget.bootstrap .toolbar .btn-action-date-time-picker {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 16px;
}
.tempus-dominus-widget.bootstrap .toolbar .btn-action-date-time-picker:hover {
  background: none;
}
.tempus-dominus-widget.bootstrap .toolbar .btn-action-date-time-picker .btn-close {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.date-time-picker-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  z-index: 1071;
  background-color: #000;
}
.date-time-picker-backdrop.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.date-time-picker-backdrop.show {
  opacity: 0.5;
}
