.cabang-rental-widget {
    padding: 8px;
    margin-bottom: 32px;
    border-radius: 8px;
    position: relative;
    display: block;
    height: 120px;
    .cabang-rental-widget-title {
        position: relative;
        display: block;
        width: 100%;
        &::before {
            @include sidebar-before-widget-title;
        }
        .widget-title {
            @include sidebar-widget-title;
        }
    }
}
