// <reference path="/front-page/client-kami.php"/>

// client-kami
.client-kami {
    display: block;
    position: relative;
    background: #2b2a2a;
    .row-client-kami-widget-title {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        padding: $getter;
        .widget-title {
            z-index: 2;
            margin: 0;
            padding: 4px 8px;
            background: #cc0000;
            @include border-radius(4px);
            color: #fff;
            font-size: 1.2em;
            @include poppins-medium;
            @include BoxShadow(2);
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            height: 3px;
            right: 15px;
            left: 15px;
            @include centerXX;
            width: 80%;
            background: #ffc107;
        }
    }
    .row.row-client-kami {
        display: flex;
        justify-content: center;
        .client-kami-owl-carousel {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            @include hiddenScroll();
            width: 80%;
            padding-top: 16px;
            padding-bottom: 60px;
            @include media-screen-min-max(xs, sm) {
                width: 100%;
            }
            @include media-screen-min-max(sm, md) {
                width: 100%;
            }
            .item-media {
                flex: 0 0 auto;
                margin-right: 10px;
                .img-media {
                    @include border-radius(8px);
                    object-fit: contain;
                    aspect-ratio: 1 auto;
                    width: 100%;
                    background: #fff;
                    @include BoxShadow(2);
                    padding: 12px;
                }
            }

            .owl-nav-client-kami {
            }
            .owl-dots-client-kami {
            }
        }
    }
}
